.st1 {
    width: 90%;
    border-bottom: 3px dashed #BEBEBE;
    padding-bottom: 10px;
    margin: 20px
}

.fs1 {
    width: 40%;
    margin: 5% auto;
    border: 5px solid red;
    border-radius: 20px
}

.lg1 {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px
}

.lb1 {
    color: gray
}

.t1 {
    width: 100px;
    text-align: center
}

.bi-check-circle {
    color: green
}

.bi-x-circle {
    color: red
}

.tb1 {
    margin: auto;
    border: 3px #66B3FF solid;
    border-collapse: collapse;
    background-color: #CAFFFF;
    color: red
}

.td1 {
    border: 3px #66B3FF solid
}

.container {
    margin: 0 auto;
    width: 1080px;
}

#slide {
    position: relative;
    max-width: 1080px;
    max-height: 724px;
}

    #slide img {
        width: 1080px;
        max-height: 720px;
    }

#div2 img {
    float: left;
    width: 214px;
}

.selected {
    border: 5px solid #D26900;
}

.unselected {
    border: none;
}

#slide .prev, #slide .next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
}

    #slide .prev:hover, #slide .next:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    #slide .prev:after, #slide .next:after {
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }

#slide .prev {
    left: 0;
}

    #slide .prev:after {
        transform: rotate(-135deg);
        margin-left: 4px;
    }

#slide .next {
    right: 0;
}

    #slide .next:after {
        transform: rotate(45deg);
        margin-right: 4px;
    }

section.ratingForm {
    height: 100vh;
}

.ratingBox {
    margin: 0 30%;
}

    .ratingBox h1, h3 {
        text-align: center;
    }

.stars {
    display: flex
}

    .stars a {
        filter: grayscale(100%);
        cursor: pointer;
        padding: 2px;
    }

        .stars a img {
            width: 100%;
        }

    .stars:hover a {
        filter: grayscale(0%);
    }

    .stars a:hover {
        filter: grayscale(0%);
    }

        .stars a:hover ~ a {
            filter: grayscale(100%);
        }

    .stars a.active {
        filter: grayscale(0%);
    }
