.container {
    margin: 0 auto;
    width: 1080px;
    cursor: pointer;
}

#slide {
    position: relative;
    width: 1080px;
    height: 702px;
}

    #slide a.imgs {
        position: absolute;
        top: 0;
        left: 0;
    }

    #slide img {
        position: absolute;
        display: block;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.8s;
        width: 1080px;
        max-height: 700px;
    }

        #slide img:first-child {
            position: static;
        }

        #slide img.show {
            opacity: 1;
            visibility: visible;
        }

    #slide .prev, #slide .next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: 0.4s;
        background-color: rgba(0, 0, 0, 0.12);
        padding: 14px 12px;
    }

        #slide .prev:hover, #slide .next:hover {
            background-color: rgba(0, 0, 0, 0.24);
        }

        #slide .prev:after, #slide .next:after {
            display: block;
            content: "";
            width: 25px;
            height: 25px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }

    #slide .prev {
        left: 0;
    }

        #slide .prev:after {
            transform: rotate(-135deg);
            margin-left: 4px;
        }

    #slide .next {
        right: 0;
    }

        #slide .next:after {
            transform: rotate(45deg);
            margin-right: 4px;
        }

.selected {
    border: 5px solid #D26900;
}

#div2 img {
    float: left;
    width: 214px;
}
